<!DOCTYPE html>
<html>
<head>
  <title>Video Upload</title>
  <style type="text/css">
    button {
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <h3>Video Upload</h3>
  <p>Upload video file here , after completed it will automatic download </p>
  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="video" accept="video/*" />
    <br />
    <button type="submit">Upload</button>
  </form>
</body>
</html>